@import "background";
@import "global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Chromate";
  font-size: 144px;
  color: white;
}

h2 {
  font-family: "Questrial";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

p {
  font-family: "Questrial";
  font-size: 16px;
  text-transform: uppercase;
}
